PORT=5000
JWT_SECRET=change_this_for_local_learning_min_32_chars
JWT_EXPIRES_IN=24h

# Local Mongo container in docker-compose
MONGODB_URI=mongodb://mongo:27017/ecommerce_enviosperdidos

# SMTP (optional for learning)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS_APP=your-16-char-app-password

# Optional background job settings
NOTIFICATION_CRON=*/2 * * * *
NOTIFICATION_MAX_RETRIES=3

NODE_ENV=development
